body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1a2c38;
  scrollbar-color: #2f4553 transparent;
}
* {
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

.SideBar {
  margin-top: 0px;
  max-width: 60px;
  min-height: 100%;
  background-color: #0b1e2b;
}

#ThreeLines {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 3.75rem;
  min-height: 3.75rem;
  border-radius: var(--radius-base);
  background-color: #0f212e;
  box-shadow: #0003 0 4px 6px -1px;
}
#Home {
  justify-content: center;
  align-items: center;
  max-width: 3.75rem;
  height: 3.75rem;

}

.Main {
  margin-top: -100vh;
  max-width: 100%;
  height: 100%;
  background-color: rgba(185, 175, 175, 0);
}

.Banner {
  position: fixed;
  margin-left: 60px;
  top: 0;
  left: 0;
  width: 97%;
  height: 60px;
  background-color: #1a2c38;
  box-shadow: #0003 0 4px 6px -1px;
  z-index: 1000;
}

.InnerBanner {
  max-width: 99.48%;
  height: 100%;
  background-color: rgba(136, 64, 23, 0);
}

.BannerContentFormat {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: 60px;
  background-color: rgba(91, 206, 87, 0);
}

.BannerContent {
  padding: 8px;
  max-width: 1200px;
  height: 44px;
  background-color: rgba(206, 87, 87, 0);
}

img {
  max-width: 90%;
  height: 90%;
  cursor: pointer;
}

.UnderBanner {
  position: relative;
  margin-top: 60px;
  margin-left: 60px;
  max-width: 96.888%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0);
  overflow-x: hidden;
  overflow-y: scroll;
}

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: 140%;
  background-color: rgba(62, 67, 129, 0);
}

.InfoTop {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem; 
  margin-bottom: 1rem;
  max-width: 100%;
  gap: 6px;
  justify-content: center;
  align-content: flex-end;
  background-color: rgba(127, 255, 212, 0);
}

#InfoBox1 {
  height: 224px;
  width: 385px;
  margin-bottom: .75rem;
  border-radius: 8px;
  background-color: #213743;
}
#InfoBox2 {
  margin-left: .7rem;
  margin-bottom: .75rem;
  height: 224px;
  width: 385px;
  border-radius: 8px;
  background-color: #213743;
}
#InfoBox3 {
  margin-left: .7rem;
  margin-bottom: .75rem;
  height: 224px;
  width: 385px;
  border-radius: 8px;
  background-color: #213743;
}

.SearchBarTemp {
  position: relative;
  display: flex;
  height: 2%;
  width: 100%;
  background-color: rgba(159, 177, 0, 0);
}

.SearchBarContainer {
  position: absolute;
  top: 25%;
  height: 41px;
  width: 100%;
  background-color: rgba(127, 208, 255, 0);
}
.SearchBar {
  position: absolute;
  height: 41px;
  width: 100%;
  background-color: #0f212e;
  border-style: solid;
  border-width: 2px;
  border-color: #2f4652;
  border-radius: 100px;
}

.Games {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem; 
  max-width: 100%;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 189, 127, 0);
}

.GameBox {
  margin-bottom: .75rem;
  height: 225px;
  width: 188px;
  border-radius: 8px;
  background-color: #2137434b;
}

#Game1 {
  background-color: rgba(255, 0, 0, 0.37);
}
#Game2 {
  margin-left: 0.75rem;
  background-color: rgba(255, 94, 0, 0.37);
}#Game3 {
  margin-left: 0.75rem;
  background-color: rgba(255, 196, 0, 0.37);
}#Game4 {
  margin-left: 0.75rem;
  background-color: rgba(187, 255, 0, 0.37);
}#Game5 {
  margin-left: 0.75rem;
  background-color: rgba(0, 195, 255, 0.37);
}#Game6 {
  margin-left: 0.75rem;
  background-color: rgba(55, 0, 255, 0.37);
}

.Leaderboard {
  position: relative;
  width: 100%;
  background-color: rgba(67, 143, 146, 0.781);
}

.BottomInfo {
  position: relative;
  width: 100%;
  background-color: rgb(108, 78, 155);
}


/* Responsive Styles */
@media only screen and (max-width: 1260px) {

  .BannerContentFormat,
  .BannerContent,
  .Content {
    max-width: 90%;
  }
  #InfoBox1,
  #InfoBox2,
  #InfoBox3 {
    margin-left: 1rem;
    max-width: 100%;
    max-height: 100%;
  }
  .GameBox {
    width: 200px;
    margin-left: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #1a2c38;
    scrollbar-color: #2f4553 transparent;
  }
  .Banner{
    margin-left: 0px;
  }
  
  .BannerContentFormat,
  .BannerContent{
    max-width: 100%;
  }
  .UnderBanner {
    margin-left: 0px;
    max-width: 100%;
  }
  .Content {
    max-width: 100%;
    
  }
  .SearchBarTemp,
  .SearchBarContainer,
  .SearchBar {
    display: none;
  }

  #InfoBox1,
  #InfoBox2,
  #InfoBox3 {
    margin-left: 0px;
    max-width: 85%;
    max-height: 85%;
    
  }
  .Games {
    margin-top: 0.75rem;
    margin-right: 1rem;
    padding-bottom: 10rem;
  }
  .GameBox {
    height: 170px;
    width: 120px;
    margin-left: 0.75rem;
  }
  #ThreeLines {
    display: none;
  }
  .SideBar{
    background-color: transparent;
  }

}
