.GameMenu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 3rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.SideMenu {
    width: 19rem;
    height: 42rem;
    background-color: rgba(33,55,67,255)
}




.Game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    width: 56rem;
    height: 42rem;
    background-color: rgba(15,33,46,255)
}

.Slider {
    width: 45rem;
    height: 5rem;
    margin-top: 13rem;
    background-color: rgb(80, 71, 71);

}

.Multipliers {
    display: flex;
    flex-wrap: wrap;
    width: 54rem;
    height: 6rem;
    border-radius: 4px;
    margin-top: 14rem;
    background-color: rgba(33,55,67,255)

}

.Winnings{
    width: 18rem;
    height: 100%;
    background-color: rgba(207, 35, 35, 0);
}

.RollOver{
    width: 18rem;
    height: 100%;
    background-color: rgba(34, 204, 12, 0);
}

.WinChance{
    width: 18rem;
    height: 100%;
    background-color: rgba(2, 5, 202, 0);
}


.Winnings p{
    margin-left: 1rem;
    margin-top: 1.2rem;
    height: 10PX;
    font-size: 15px;
    color: rgba(211, 211, 211, 0.945);
}

#WinningsBox{
    margin-left: 1rem;
    width: 90%;
    height: 2rem;
    border-radius: 3px;
    border: 2px solid rgba(47,69,83,255);
    background-color: rgba(15,33,46,255);
}

.RollOver p{
    margin-left: 1rem;
    margin-top: 1.2rem;
    height: 10px;
    font-size: 15px;
    color: rgba(211, 211, 211, 0.945);
}

#RollOverBox{
    margin-left: .7rem;
    width: 90%;
    height: 2rem;
    border-radius: 3px;
    border: 2px solid rgba(47,69,83,255);
    background-color: rgba(15,33,46,255);
}

.WinChance p{
    margin-left: .7rem;
    margin-top: 1.2rem;
    height: 10px;
    font-size: 15px;
    color: rgba(211, 211, 211, 0.945);
}

#WinChanceBox{
    margin-left: .7rem;
    width: 90%;
    height: 2rem;
    border-radius: 3px;
    border: 2px solid rgba(47,69,83,255);
    background-color: rgba(15,33,46,255);
}