.GameMenu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 3rem;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.SideMenu {
    width: 19rem;
    height: 42rem;
    background-color: rgb(206, 93, 93);
}

.Game {
    width: 56rem;
    height: 42rem;
    background-color: rgb(93, 180, 206);
}
